<!--
Marist College - Capping Project - Prof. Arias
HereNThere || Rights reserved
==========================
Juan Diaz
Francesco Galletti
Timbille Kulendi
Kulvinder Lotay
Tashi Palden
Joey Pupel  
==========================
tripdetail.ejs is the page where the details of a specific
trip are displayed. Users can edit the trip info and by clicking
on the edit button they will be taken to the map page where the
currently selected trip is displayed. Changes to the trip will be saved
as a new trip.
-->

<!DOCTYPE html>
<html>
    <title>HereNThere</title>
    
    <head>
        <!-- Favicon -->
        <link rel="icon" href="files/img/Nlogo.png" type="image/gif" sizes="16x16">
    </head>
    
    <!--These are the typical Bootstrap (BS) characteristics and basic libraries that BS is based on.
        We are just importing these libraries -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- Load the Bootstrap required for this page -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--Style has all the CSS and modifications to edit how things look on the screen.
        For example #map will modify how the Google Maps window looks like. -->
    <link rel = "stylesheet"
      type = "text/css"
      href = "../files/css/main.css" />

    <body style="background-color: #214682;background-image:none;">
        
        <!-- Header partial at the top of the window -->
        <header style="height:50px;">
            <% include partials/header %>
        </header>
        
        <!-- Cover photo -->
        <div class="headertrip">
            
            <br>
            <img src="files/img/profile2.jpg" alt="?" height="150" width="150" class="img-circle">
            <!--  TODO 
                    make a separate function that gets the tripdetails
                    and goes to the map page and populates it
                    so that the trip is displayed and the user can modify it.
                    A modified trip will be saved as a new one.
            -->
            <h1 style="color: #FDFDFD"><%= roadtripname %><a href="/map"><img src="../files/img/edit.png" alt="edit" height="50" width="50"></a></h1> 

        </div>
         
        <!-- Container for (trip details table) -->
        <!-- This should display a users saved trip details  
             TODO Trip details should be pulled from the database-->
        
        <div class="container">
            <table>
                <tr>
                    <th>Stop City</th>
                    <th>Address</th>
                    <th>Duration from previous stop</th>
                    <th>Distance from previous stop</th>                  
                    <th>Type</th>
                </tr>
                <% tripdetail.forEach(function(detail) { %>
                    <tr>
                        <td><%= detail.StartPoint %></td>
                        <td><%= detail.EndPoint %></td>
                        <td><%= detail.Duration %></td>
                        <td><%= detail.Distance %></td>
                        <td>Stop</td>
                    </tr>
                <% }); %>
                <tr>
                    <td>Washington, DC</td>
                    <td>312 River Street...</td>
                    <td>0 hr 0 min</td>
                    <td>0 mi</td>
                    <td>Residential</td>
                </tr>
                <tr>
                    <td>Philadelphia, PA</td>
                    <td>71 Lincoln Avenue...</td>
                    <td>5 hr 12 min</td>
                    <td>298 mi</td>
                    <td>Restaurant</td>
                </tr>

                <tr>
                    <td>Charlotte, NC</td>
                    <td>111 Main Street...</td>
                    <td>6 hr 24 min</td>
                    <td>334 mi</td>
                    <td>Hotel</td>
                </tr>

                <tr>
                    <td>Philadelphia, PA</td>
                    <td>52 North Road...</td>
                    <td>5 hr 34 min</td>
                    <td>305 mi</td>
                    <td>Residential</td>
                </tr>

                <tr>
                    <td>New York City, NY</td>
                    <td>70 East Avenue...</td>
                    <td>7 hr 01 min</td>
                    <td>366 mi</td>
                    <td>Restaurant</td>
                </tr>

                <tr>
                    <td>Washington, DC</td>
                    <td>12 McDonut Street...</td>
                    <td>5 hr 12 min</td>
                    <td>304 mi</td>
                    <td>Hotel</td>
                </tr>
            </table>
        </div>
    </body>
</html>

<!--
=========================
======  TODO    =========


-->